{% extends 'post/base.html' %}

{% block content %}
    <h1>Threads List</h1>
    <a href="{% url 'create_thread' %}" class="btn btn-primary mb-3">Create New Thread</a>

    <ul class="list-group">
        {% for thread in threads %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'thread_detail' thread.id %}">{{ thread.name }}</a>
                <a href="{% url 'delete_thread' thread.id %}" class="btn btn-danger btn-sm">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
